@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maroon: #7A2048;
  --saffron: #F5B335;
  --off-white: #e8e8e8;
}

/* Use Tailwind's arbitrary value for custom colors in @apply */
body {
  @apply font-open-sans text-neutral-800 min-h-screen;
  background-color: var(--off-white);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-playfair;
  line-height: 1.2;
}

button, .button {
  @apply transition-all duration-300;
}

/* Use Tailwind's arbitrary value for custom colors in @apply */
.btn-primary {
  @apply text-neutral-900 font-open-sans font-semibold px-6 py-3 rounded-md inline-block;
  background-color: var(--saffron);
}
.btn-primary:hover {
  background-color: #e6a92e; /* slightly darker saffron for hover */
}

.btn-secondary {
  @apply text-white font-open-sans font-semibold px-6 py-3 rounded-md inline-block;
  background-color: var(--maroon);
}
.btn-secondary:hover {
  background-color: #691b3d; /* slightly darker maroon for hover */
}

.container-custom {
  @apply container mx-auto px-4 sm:px-6 lg:px-8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}